html {
    width: 70%;
    padding-left: 15%;
    padding-right: 15%;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1.5em;
    font-family: sans-serif
}

h1 {
    font-size: 32px;
}

table{
    border-color: black;
    border-width: 1px;
    border-style: solid
}

td, th {
    border-color: black;
    border-width: 1px;
    border-style: solid
}

figcaption {
    font-family: cursive;
}

figure {
    float: right;
}
